:root {
    --text-color: #f9c041;
    --button-color: #b91646;
    --accent-color: #33679a;
    --text-color-2: #eeece9;
    --accent-color-2: #105652;
    --bg-color-dk-grey: #231f20;
    --bg-color-secondary-lt-grey: #5d5950;
  }
  html {
    display: flex;
  }
  
  * {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: "Atma" !important;
  }

  .nav-wrapper{
    background-color: var(--accent-color);
    padding-left: 15px;
    margin: auto !important; 
  }
  
  body,
  main,
  footer {
    background-image: url("./assets/pics/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Atma", cursive;
  }
  
  button {
    background-color: var(--button-color);
    color: var(--text-color-2);
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;

  }
  
  #button-section {
    text-align: center;
  }
  #randomize-joke {
    text-align: center;
    margin-bottom: 30px !important;
  }
  .button {
    background-color: var(--button-color);
    color: var(--text-color-2);
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 300px !important;
  }
  
  button:hover {
    background-color: var(--accent-color-2);
  }
  
  #form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  a {
    color: var(--accent-color);
  }
  
  a:hover {
    color: var(--accent-color-2);
  }
  
  #brewery-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px;
    font-size: larger;
  }
  
  #random-jokes-container {
    display: flex;
    margin: 50px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: larger;
    border-radius: 135px;
    background: var(--accent-color-2);
  }
  
  #brewery-container0,
  #brewery-container1,
  #brewery-container2, 
  #brewery-container3 {
    background-color: var(--bg-color-secondary-lt-grey);
    padding: 10px;
    margin: 15px;
    /* width: 100%; */
    height: 100%;
    border-radius: 15px;
    border: 10px solid var(--text-color);
  }
  
  h1 {
    font-size: 8rem !important;
    margin-bottom: 20px;
    text-align: center;
  }
  h2 {
    font-size: large !important;
    padding-bottom: 15px;
    margin: 0% !important;
    color: var(--text-color-2);
  }

 #random-jokes-container h3 {
    font-size: xx-large !important;
    text-align: center;
    padding-bottom: 15px;
    margin: 0% !important;
    margin-top: 15px !important;
  }

 #brewery-container h3 {
    font-size: x-large !important;
    text-align: center;
    padding-bottom: 15px;
    margin: 0% !important;
    margin-top: 15px !important;
  }
  
  p {
    /* line-height: 1.5; */
    /* margin-bottom: 10px; */
    font-size: medium !important;
    color: var(--text-color-2);
  }

  @media only screen and (max-width: 820px) {
    #brewery-container {
      display: block;
    }
  }
